<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Signup</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/">
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create Account</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="signup()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-button type="submit" expand="full" color="primary">Create Account</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
