<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="cryptoDetails">
      {{ cryptoDetails?.name }} ({{ cryptoDetails?.symbol }}) Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="cryptoDetails">
        {{ cryptoDetails?.name }} Details
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div *ngIf="cryptoDetails">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ cryptoDetails?.name }} ({{ cryptoDetails?.symbol }})
        </ion-card-title>
        <ion-card-subtitle>
          Rank: {{ cryptoDetails?.rank }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Price:</strong> ${{ cryptoDetails?.priceUsd | number:'1.2-2' }}</p>
        <p><strong>Market Cap:</strong> ${{ cryptoDetails?.marketCapUsd | number }}</p>
        <p><strong>24h Volume:</strong> ${{ cryptoDetails?.volumeUsd24Hr | number }}</p>
        <p><strong>24h Change:</strong> {{ cryptoDetails?.changePercent24Hr | number:'1.2-2' }}%</p>
        <p><strong>Supply:</strong> {{ cryptoDetails?.supply | number }} {{ cryptoDetails?.symbol }}</p>
        <p><strong>Max Supply:</strong> {{ cryptoDetails?.maxSupply | number }}</p>
        <p><strong>VWAP (24Hr):</strong> ${{ cryptoDetails?.vwap24Hr | number:'1.2-2' }}</p>
        <ion-button expand="full" href="{{ cryptoDetails?.explorer }}" target="_blank">
          Explore on Blockchain
        </ion-button>

        <canvas id="cryptoChart"></canvas>

        
        <table style="width: 100%;">
          <tr>
            <td style="text-align: center;">
              <select (change)="onTimeFrameChange($event)">
                <option value="m1">1 Minute</option>
                <option value="m5">5 Minutes</option>
                <option value="m15">15 Minutes</option>
                <option value="m30">30 Minutes</option>
                <option value="h1">1 Hour</option>
                <option value="h2">2 Hours</option>
                <option value="h6">6 Hours</option>
                <option value="h12">12 Hours</option>
                <option value="d1">1 Day</option>
              </select>
            </td>
          </tr>
        </table>
        
        
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" routerLink="/">
      Home
    </ion-button>
  </div>
</ion-content>
