<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watchlist
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Watchlist</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (ionInput)="searchCrypto($event)" placeholder="Search"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let crypto of filteredCryptoList" [routerLink]="['/crypto-detail', crypto.name]">
      <ion-label>
        <h2>{{ crypto.name }}</h2>
        <p>Price: ${{ crypto.priceUsd | number: '1.2-2' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
