<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let trade of trades">
      <ion-card-header>
        <ion-card-title>Symbol: {{ trade.symbol }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Buy Price:</strong> {{ trade.buyPrice | number: '1.2-2' }}</p>
        <p><strong>Take Profit:</strong> {{ trade.takeProfit | number: '1.2-2' }}</p>
        <p><strong>Stop Loss:</strong> {{ trade.stopLoss | number: '1.2-2' }}</p>
        <p><strong>Notes:</strong> {{ trade.notes }}</p>
        <p><strong>Current Price:</strong> {{ trade.currentPrice | number: '1.2-2'}}</p>
        <p><strong>Status:</strong> {{ trade.isProfit ? 'Profit' : 'Loss' }}</p>
        <p *ngIf="trade.isStopLossHit"><ion-badge color="danger">Stop Loss Hit</ion-badge></p>
        <p *ngIf="trade.isTakeProfitHit"><ion-badge color="success">Take Profit Hit</ion-badge></p>

        <ion-button fill="outline" color="danger" slot="end" expand="full"  (click)="confirmDelete(trade)">
          <ion-icon name="trash"></ion-icon> Delete
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="navigateToAddTrade()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
