<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trades</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToAddTrade()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let trade of trades">
      <ion-label>
        <h2>Symbol: {{ trade.symbol }}</h2>
        <p>Buy Price: {{ trade.buyPrice }}</p>
        <p>Take Profit: {{ trade.takeProfit }}</p>
        <p>Stop Loss: {{ trade.stopLoss }}</p>
        <p>Notes: {{ trade.notes }}</p>
      </ion-label>
      <ion-button slot="end" (click)="confirmDelete(trade)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item> 
  </ion-list>
</ion-content>
