<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Reset Password</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/">
        Home
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-no-margin">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="userEmail"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="resetPassword()" class="reset-button">
    Reset Password
  </ion-button>
</ion-content>
